# Ignore custom makefiles
Makefile.*
*.cstm

# Ignore run files
*.sh
# Whitelist run script folder
!run-scripts/*
!run-scripts/echo_inputs/*

# Ignore build related files
build/
*.[oa]
fit
fitex
swarmscan
massivescan
tool
plottool
lgcy-plottool
nuclearstrufun
subunsub
lightqscan
lightqfitex
lofit
fltool

# Editor and other files
.vscode/
doc/
out/
out-mass/
fits/
errors/
