# Ignore custom makefiles
Makefile.*
*.cstm

# Ignore run files
*.sh
# Whitelist run script folder
!run-scripts/*

# Ignore build related files
build/
*.[oa]
fit
fitex
swarmscan
tool
plottool
lgcy-plottool
subunsub
lightqscan


# Editor and other files
.vscode/
doc/
out/
fits/
