# Ignore custom makefiles
Makefile.*
*.cstm

# Ignore run files
*.sh

# Ignore build related files
build/
*.[oa]
fit
swarmscan
tool
plottool
lgcy-plottool
subunsub
lightqscan

# Editor and other files
.vscode/
doc/
out/
